<p>Dear <%= @resource.email %>,</p>

<p>Someone has requested a link to change your password, and the link to do this is below.</p>

<p><%= link_to 'Change password', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

<p>If you didn't make this request, please ignore this email.</p>
<p>Your password won't change until you access the link above and create a new one.</p>

<p>Regards,<br/>hereYAK</p>
